p{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.p1{
    color: red;
}
.p2{
    color: green;
}
.p3{
    color: blue;
}

#p1{
    background-color: yellow;
}
